<h1> Jenkins Jobs Status </h1>
<%= image_tag(@buildable_jobs_jenkins_master_chart) %>
<% Ddash::Application.config.JENKINS_MASTERS.each do |master| %>
  <%= image_tag(@by_master_job_score_bar_graph[master]) %>
  <% end %>
<h3>Create/Add Jenkins Data</h3>
<%= button_to "create ", :action => "create" %>
